@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-bg-main: theme('colors.secondary.100');
    --color-bg-subtle: theme('colors.secondary.200');
    --color-bg-card: theme('colors.white');
    --color-bg-accent: theme('colors.primary.100');
    --color-bg-accent-subtle: theme('colors.primary.200');

    --color-text-primary: theme('colors.secondary.900');
    --color-text-secondary: theme('colors.secondary.700');
    --color-text-interactive-primary: theme('colors.white');

    --color-border: theme('colors.secondary.300');
    --color-border-subtle: theme('colors.secondary.200');

    --color-interactive-primary: theme('colors.accent.600');
    --color-interactive-secondary: theme('colors.secondary.200');
    --color-interactive-danger: theme('colors.red.600');
    --color-interactive-focus-ring: theme('colors.accent.500');

    --color-gradient-start: theme('colors.accent.600');
    --color-gradient-end: theme('colors.primary.600');

    --color-accent: theme('colors.accent.800');
}

.dark {
    --color-bg-main: theme('colors.secondary.800');
    --color-bg-subtle: theme('colors.secondary.700');
    --color-bg-card: theme('colors.secondary.900');
    --color-bg-accent: theme('colors.primary.800');
    --color-bg-accent-subtle: theme('colors.primary.700');

    --color-text-primary: theme('colors.secondary.100');
    --color-text-secondary: theme('colors.secondary.300');
    --color-text-interactive-primary: theme('colors.white');

    --color-border: theme('colors.secondary.700');
    --color-border-subtle: theme('colors.secondary.800');

    --color-interactive-primary: theme('colors.accent.600');
    --color-interactive-secondary: theme('colors.secondary.500');
    --color-interactive-danger: theme('colors.red.600');
    --color-interactive-focus-ring: theme('colors.accent.400');

    --color-gradient-start: theme('colors.accent.500');
    --color-gradient-end: theme('colors.primary.500');

    --color-accent: theme('colors.accent.800');
}
